# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| -------- |
| MongoDB |
| Apache SparkSQL |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [25]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
(3*4)+5
 This a simple arithmetic expression to mutiply then add integers

17

In [26]:
## This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
* Python
* R
* SQL

## Author 
ReniVF